<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS_DIR" value="/app/logs" />
    <property name="LOG_FILE_NAME" value="app" />

    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n" />

    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_DIR}/${LOG_FILE_NAME}.log</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_DIR}/archived/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>

            <maxFileSize>10MB</maxFileSize>

            <maxHistory>30</maxHistory>

            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="com.personal.management_platform" level="INFO" additivity="false">
        <appender-ref ref="Console" />
        <appender-ref ref="RollingFile" />
    </logger>

    <root level="WARN">
        <appender-ref ref="Console" />
        <appender-ref ref="RollingFile" />
    </root>

</configuration>